﻿@using AirWaze.Controllers
@{
    int flightCounter = 1;
}
<h1>Are you sure you want to approve the following schedule?</h1>
<br />
<br />
<h2>@AdminController.scheduleToApprove.Date.ToString("D") - @AdminController.scheduleToApprove.Date.Hour.ToString("00"): @AdminController.scheduleToApprove.Date.Minute.ToString("00")</h2>
<br />
@if(@AdminController.scheduleToApprove.Flights.Count == 0)
{
    <p>There are no flights in this schedule.</p>
}
else
{
    <h2>Flights:</h2>
@foreach(var flight in @AdminController.scheduleToApprove.Flights)
{
    <p>@flightCounter: @AdminController.scheduleToApprove.Flights[flightCounter-1].Departure - @AdminController.scheduleToApprove.Flights[flightCounter-1].FlightNr - @AdminController.scheduleToApprove.Flights[flightCounter-1].Destination - Gate @AdminController.scheduleToApprove.Flights[flightCounter-1].CurrentGate.Number</p>
    flightCounter++;
    }
}
<br />
@if(@AdminController.scheduleToApprove.Flights.Count > 0)
{
    <a class="btn btn-success" asp-controller="Admin" asp-action="ConfirmApproveSchedule">Yes - Approve</a>
<a class="btn btn-warning" asp-controller="Admin" asp-action="Schedule">No - Go Back</a>
}
<a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteSchedule">No - Delete this Schedule</a>



