﻿
@model ScheduleGenerateViewModel

@{
    string currentTime = DateTime.Now.ToString("d") + "T" + DateTime.Now.ToString("hh:MM");
}
<form asp-controller="Admin" asp-action="GenerateSchedule" method="post">
    <div class="form-group">
        <label>Date and Time:</label>
        <input type="datetime-local" min="@DateTime.Now" max="@DateTime.Now.AddDays(30)" class="form-control" asp-for="Date"/>
        <span asp-validation-for="Date"></span>
    </div>
    <button class="btn btn-primary" type="submit">Create New Schedule</button>
</form>

<a class="btn btn-primary" asp-controller="Admin" asp-action="Schedule">Go Back</a>
