﻿@model IEnumerable<AirWaze.Areas.Identity.Data.AirWazeUser>
@{
    ViewBag.Title = "All Users";
}

<link rel="stylesheet" href="~/css/dashboard.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-lg-2 bg-dark-blue d-none d-sm-block left" style="padding-top: 10px; padding-bottom: 20px;">
            <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>

                <center>
                    <p style="color:white">@User.Identity.Name</p>
                </center>
            

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    <a class="list-group-item" asp-action="Index" asp-controller="Admin"><i class="fas fa-tachometer-alt text-white"> &nbsp; Dashboard</i></a>                    
                    <a class="list-group-item" asp-action="ListAllRoles" asp-controller="Role"><i class="fas fa-user text-white"> &nbsp; Manage roles</i></a>
                    <a class="list-group-item" asp-action="ListUsers" asp-controller="Admin"><i class="fas fa-users text-white"> &nbsp; Users</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Airline"><i class="fas fa-user-check text-white">&nbsp; Airlines</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Plane"><i class="fas fa-plane text-white"></i>&nbsp; Planes</i></a>
                    <a class="list-group-item" asp-action="Index" asp-controller="Flight"><i class="fas fa-plane-departure text-white">&nbsp; Flights</i></a> 
                    <a class="list-group-item" asp-action="Schedule" asp-controller="Admin"><i class="fas fa-clock text-white">&nbsp; Schedule</i></a>  
                </div>
        </div>
        <div class="col-xl-10" style="padding-bottom: 50px;">
        <div class="section-top-border">
					<h3 class="mb-30">Users</h3>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="stats stats-primary ">
                                <h4 class="stats-title"> Users </h4>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                    <i class="fas fa-users"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number">@Model.Count()</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe"> &nbsp;&nbsp;Total registered &nbsp;&nbsp;users</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="progress-table-wrap">
						<div class="progress-table">
							<div class="table-head">                             
                                <div class="country">Firstname</div>
                                <div class="country">Lastname</div>
@*                                <div class="country">Streetname</div>
                                <div class="country">Housenumber</div>
                                <div class="country">Bus</div>
                                <div class="country">Zipcode</div>
                                <div class="country">City</div>
                                <div class="country">Country</div>  *@                                                              
                                <div class="visit">Phonenumber</div>
                                <div class="country">Email</div>

							</div>

                             @foreach (var item in Model)
                            {
							<div class="table-row">									
                                <div class="country"> @item.FirstName</div> 	
                                <div class="country"> @item.LastName</div>                      
                                @*<div class="country"> @item.StreetName</div>
                                <div class="country"> @item.HouseNumber</div>
                                @if(@item.Bus != null)
                                {
                                        <div class="country"> @item.Bus</div>
                                }
                                else
                                {
                                        <div class="country"> 0</div>
                                }

                                <div class="country"> @item.Zipcode</div>
                                <div class="country"> @item.City</div>
                                <div class="country"> @item.Country</div>*@
                                <div class="visit"> @item.PhoneNumber</div>&nbsp;
                                <div class="country"> @item.Email</div>
							</div>
                            }
							
						</div>
					</div>
				</div>    
            </div>
        </div>
    </div>    
</main>





<script src="~/lib/bootstrap/bootstrap-admin/popper.min.js"></script>
<link href="~/lib/bootstrap/bootstrap-admin/bootstrap-parkeasy.css" rel="stylesheet" />
<link href="~/lib/bootstrap/bootstrap-admin/dashboard.css" rel="stylesheet" />
