﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PlaneCreateViewModel

<link rel="stylesheet" href="~/css/planecreate.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>New Airplane</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-lg-9" style="padding-bottom: 50px;">
            <h3 class="font-weight-bold" style="padding-top: 50px; padding-bottom: 30px;">Add New Plane</h3>   
<div style="padding-top:200px;"></div>
<form asp-controller="Plane" asp-action="Create" method="post">
    <div class="form-group" >
        <label asp-for="Type"></label>
        <input class ="form-control" asp-for="Type" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="Type"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Manufacturer" ></label>
        <input class ="form-control" asp-for="Manufacturer" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="Manufacturer"></span>
    </div>
    <div class="form-group"  hidden="hidden">
        <label asp-for="SeatDiagramPic" ></label>
        <input class ="form-control" asp-for="SeatDiagramPic" />
        <span class="text-danger" asp-validation-for="SeatDiagramPic"></span>
    </div>
    <div class="form-group">
        <label asp-for="PassengerCapacity"></label>
        <input class ="form-control" asp-for="PassengerCapacity" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="PassengerCapacity"></span>
    </div> 
    <div class="form-group">
        <label asp-for="FirstClassCapacity"></label>
        <input class ="form-control" asp-for="FirstClassCapacity" readonly="readonly" />
        <span class="text-danger" asp-validation-for="FirstClassCapacity"></span>
    </div>
    <div class="form-group">
        <label asp-for="FuelCapacity">Fuel Capacity in Liters</label>
        <input class ="form-control" asp-for="FuelCapacity" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="FuelCapacity"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="LoadCapacity">Load Capacity in Kg</label>
        <input class ="form-control" asp-for="LoadCapacity" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="LoadCapacity"></span>
    </div>
    <div class="form-group">
        <label asp-for="FuelUsagePerKM">Fuel Usage Liters/KM</label>
        <input class ="form-control" asp-for="FuelUsagePerKM" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="FuelUsagePerKM"></span>
    </div>
    <div class="form-group">
        <label asp-for="FlightRegion"></label>
        <input class ="form-control" asp-for="FlightRegion" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="FlightRegion"></span>
    </div>
     <div class="form-group">
        <label asp-for="ConstructionYear"></label>
        <input class ="form-control" asp-for="ConstructionYear" />
        <span class="text-danger" asp-validation-for="ConstructionYear"></span>
    </div>
    <div class="form-group">
        <label asp-for="AirMiles">Km in the Air for this Airport</label>
        <input class ="form-control" asp-for="AirMiles" />
        <span class="text-danger" asp-validation-for="AirMiles"></span>
    </div>
    <div class="form-group" hidden="hidden">
        <label asp-for="FlightHours"></label>
        <input class ="form-control" asp-for="FlightHours" />
        <span class="text-danger" asp-validation-for="AirMiles"></span>
    </div>
     <div class="form-group" hidden="hidden">
        <label asp-for="NextMainentance"></label>
        <input class ="form-control" asp-for="NextMainentance" />
        <span class="text-danger" asp-validation-for="NextMainentance"></span>
    </div>
       <div class="form-group">
        <input asp-for="IsAvailable"/>
        <label asp-for="IsAvailable">Currently Available?</label>
    
    </div>
    

    <button class="btn btn-secondary" type="submit" onclick="message()" style="margin-top:50px;margin-left:40%;width:400px;">Create</button> 
</form>
</div>

<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Plane Added',
                    showConfirmButton: false,
                    timer: 1500                   
                    });
        }
    </script>