﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model PlaneDeleteViewModel
    
}

 <head>
    <link rel="stylesheet" href="~/css/Detailplaneair.css" asp-append-version="true" />
</head>

<div style="padding-top:200px;"></div>
<div class="peoples-visit dining-padding-top">           
            <div class="single-visit left-img">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-8">
                            <div class="visit-caption" style="background-color:#ce9244;">
                                <span>Delete @Model.PlaneNr?</span>
                                <ul>                                                                       
                                    <br />
                                    <li>@Model.PlaneNr</li>                                                                      
                                    <li>@Model.CurrentAirline.Name</li>
                                    <li>@Model.Manufacturer</li>
                                    <li>@Model.Type</li>                                    
                                </ul>
                                <br />
                                <h1>Delete this Plane?</h1>
                                <br />
                                 <a class="genric-btn info-border circle arrow" onclick="message()" asp-controller="Plane" asp-action="DeleteConfirm" asp-route-ID="@Model.PlaneNr" style="margin-left:10px;">Ja<span class="lnr lnr-arrow-right"></span></a>
                                 <a class="genric-btn danger-border circle arrow" asp-controller="Plane" asp-action="Index" style="margin-left:10px;">Neen<span class="lnr lnr-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    <script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'error',
                    title: 'Plane Deleted',
                    showConfirmButton: false,
                    timer: 1500                   
                    });
        }
    </script>




