﻿@using AirWaze.Controllers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<PlaneListViewModel> 
    
}

<head>
	 <link rel="stylesheet" href="~/css/planeindex.css">
</head>
<div style="padding-top:200px;"></div>
<div class="planeindexcontainer">
@if (Model.Count != 0)
{
    <div class="progress-table-wrap">
						<div class="progress-table">
							<div class="table-head">
								<div class="serial">Nr</div>
								<div class="visit" style="padding-left:20px;">Capacity</div>
								<div class="visit" style="padding-left:80px;">Region</div>
								<div class="visit" style="padding-left:60px;">Manfufacturer</div>
								<div class="visit" style="padding-left:60px;">Type</div>
								<div class="visit" style="padding-left:60px;">ConstructionYear</div>
								<div class="percentage"></div>
								<div class="percentage"></div>
								<div class="percentage"></div>
							</div>
							 @foreach (var plane in Model)
							{
								<div class="table-row">
									<div class="serial">@plane.PlaneNr</div>
									<div class="visit" style="padding-left:20px;">@plane.PassengerCapacity</div>
									<div class="visit" style="padding-left:20px;">@plane.FlightRegion</div>
									<div class="visit" style="padding-left:20px;">@plane.Manufacturer</div>
									<div class="visit" style="padding-left:20px;">@plane.Type</div>
									<div class="visit" style="padding-left:20px;">@plane.ConstructionYear</div>
									<div class="visit" style="padding-left:20px"><a class="genric-btn info circle arrow" asp-action="Detail" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Detail</a></div>
									<div class="visit" style="padding-left:20px"><a class="genric-btn warning circle arrow" asp-action="Update" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Edit</a></div>
									<div class="visit" style="padding-left:20px"><a class="genric-btn danger circle arrow" asp-action="Delete" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Delete</a></div>									
								</div>						
							}
                          </div>
    </div>
}
 else
    {
        <h1>No Planes Currently Available</h1>
    }
<div style="margin:100px;">
 <a class="genric-btn primary e-large" asp-area="" asp-controller="Plane" asp-action="Type" style="margin-left:250px;width:600px;">Add New Plane</a>
</div> 
</div>



