﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<PlaneListViewModel> 

<link rel="stylesheet" href="~/css/planeindex.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="container-fluid" style="padding: 0 0 0 0;">
        <div class="row">
        <div class="col-lg-2 bg-dark-blue d-none d-sm-block left" style="padding-top: 10px; padding-bottom: 20px;">
            <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>

                <center>
                    <p style="color:white">@User.Identity.Name</p>
                </center>
            

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    <a class="list-group-item" asp-action="Index" asp-controller="Admin"><i class="fas fa-tachometer-alt text-white"> &nbsp; Dashboard</i></a>
                    <a class="list-group-item" asp-action="ListAllRoles" asp-controller="Role"><i class="fas fa-user text-white"> &nbsp; Manage roles</i></a>
                    <a class="list-group-item" asp-action="ListUsers" asp-controller="Admin"><i class="fas fa-users text-white"> &nbsp; Users</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Airline"><i class="fas fa-user-check text-white">&nbsp; Airlines</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Plane"><i class="fas fa-plane text-white"></i>&nbsp; Planes</i></a>
                    <a class="list-group-item" asp-action="Index" asp-controller="Flight"><i class="fas fa-plane-departure text-white">&nbsp; Flights</i></a> 
                    <a class="list-group-item" asp-action="Schedule" asp-controller="Admin"><i class="fas fa-clock text-white">&nbsp; Schedule</i></a>  
                </div>
        </div>
        <div class="col-lg-9" style="padding-bottom: 50px;">
            <h3 class="font-weight-bold" style="padding-top: 50px; padding-bottom: 30px;">Overview planes</h3>   
            <div class="row">
                        <div class="col-md-3">
                            <div class="stats stats-primary ">
                                <h4 class="stats-title"> Planes </h4>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                    <i class="fas fa-plane"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number">@Model.Count()</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe"> &nbsp;&nbsp;Total &nbsp;&nbsp;registered &nbsp;&nbsp;planes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <a class="genric-btn info circle btnall" asp-area="" asp-controller="Plane" asp-action="Type">Add New Plane</a>
            <br/>
            <br/>
             <div class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget">
                <form asp-action="List" method="get">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <p>
                                <br/>
                                <div>
                                <br/>
                                Search by: &nbsp;
                                @Html.RadioButton("option", "Name") Name &nbsp;
                                @Html.RadioButton("option", "Type") Type &nbsp;
                                @Html.RadioButton("option", "Date") Date &nbsp;
                                @Html.RadioButton("option", "Capacity") Capacity &nbsp; &nbsp;      
                                </div>
                                <div class="input-group-append">
                                    &nbsp; &nbsp;  <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search Keyword" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Search Keyword'"/> &nbsp;&nbsp;
                                    <button class="genric-btn danger circle" type="submit"><i class="fa fa-search"></i></button>&nbsp;                                    
                                    <button class="genric-btn danger circle" onclick="window.location.href='/Plane/List'" type="button" style="width:80%; height:50px;">Show all planes</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </form>
                </aside>
                </div>
                    @if (Model.Count != 0)
                    {
                        <div class="progress-table-wrap planeindexcontainer">
						                    <div class="progress-table">
							                    <div class="table-head">
                                                    <div class="country">Airliner</div>
                                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<div class="country">Logo</div>
								                    <div class="country">Number</div>
								                    <div class="country">Capacity</div>
								                    <div class="country">Region</div>
								                    <div class="country">Manufacturer</div>&nbsp; 
								                    <div class="country">Type</div>
								                    <div class="country">ConstructionYear</div>&nbsp; 
								                    <div class="country"></div>&nbsp; 
								                    <div class="country"></div>&nbsp; 
								                    <div class="country"></div>
							                    </div>
							                     @foreach (var plane in Model)
							                    {
								                    <div class="table-row">
                                                        <div class="country">@plane.CurrentAirline.Name</div>
                                                         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<div class="country">
                                                                <img src="@Url.Content(@plane.CurrentAirline.Logo)" alt="Sample Image" width="40" height="40" />
                                                        </div>               
									                    <div class="country">@plane.PlaneNr</div> 
									                    <div class="country">@plane.PassengerCapacity</div>
									                    <div class="country">@plane.FlightRegion</div>
									                    <div class="country">@plane.Manufacturer</div>
									                    <div class="country">@plane.Type</div>
									                    <div class="country">@plane.ConstructionYear.ToShortDateString()</div> &nbsp; &nbsp; 
									                    <div class="country"><a class="genric-btn info circle btnCrud" asp-action="Detail" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Detail</a></div> &nbsp;  
									                    <div class="country"><a class="genric-btn warning circle btnCrud" asp-action="Update" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Edit</a></div> &nbsp;  
									                    <div class="country"><a class="genric-btn danger circle btnCrud" asp-action="Delete" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Delete</a></div> &nbsp;  									
								                    </div>						
							                    }
                                              </div>
                        </div>
                    }
                     else
                        {
                            <h1>No Planes Currently Available</h1>
                        }

                    </div>
        </div>
        </div>

</main>      

<script src="~/lib/bootstrap/bootstrap-admin/popper.min.js"></script>
<link href="~/lib/bootstrap/bootstrap-admin/bootstrap-parkeasy.css" rel="stylesheet" />
<link href="~/lib/bootstrap/bootstrap-admin/dashboard.css" rel="stylesheet" />

