﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TicketDeleteViewModel
<main>
<h1>Cancelling your ticket</h1>
<h2>Ticket Information</h2>
<p>Name: @Model.LastName @Model.FirstName</p>
<p>Flight Destination: @Model.CurrentFlight.Destination</p>
<p>Flight Departure: @Model.CurrentFlight.Departure</p>

<a class="btn btn-danger" onclick="message()" asp-action="ConfirmedDelete" asp-route-ID="@Model.TicketNr">Cancel Ticket</a>
<a class="btn btn-primary" asp-action="List">Go Back</a>
</main>
<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'error',
                    title: 'Ticket Deleted',
                    showConfirmButton: false,
                    timer: 1500                 
                    });
        }
    </script>