﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TicketEditViewModel
<main>
<h1>Change Ticket @Model.TicketNr</h1>

<form asp-controller="Ticket" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName"/>
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName"/>
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>

    <button class="btn btn-primary" onclick="message()" type="submit">Save Ticket</button>
</form>
</main>
<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Ticket Modified',
                    showConfirmButton: false,
                    timer: 1500                 
                    });
        }
    </script>