﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
<a asp-action="Create">New Ticket</a>
<a asp-action="List">All Tickets</a>
</main>