﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<TicketListViewModel>

<main>
<div>
  @*searchfunction*@
    <form asp-action="List" method="get">
        <div class="form-actions no-color">
            <p>
                Search by: &nbsp;
                @Html.RadioButton("option", "Name") Name &nbsp;
                @Html.RadioButton("option", "Destination") Destination &nbsp;
                @Html.RadioButton("option", "Date") Date &nbsp; &nbsp;*
                <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /> &nbsp;
                <input class="btn btn-primary" type="submit" value="Search"/> &nbsp;
                <a href="/Ticket/List" class="btn btn-primary">Show all tickets</a> 
            </p>
        </div>
    </form>
    <br/>
    <table>
        <tr>
            <th>Ticket Number</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
        @foreach(var ticket in Model)
        {
            <tr>
                <td>@ticket.TicketNr</td>
                <td>@ticket.LastName @ticket.FirstName</td>
                <td>@ticket.Status</td>
                <td><a class="btn btn-primary" asp-action="Detail" asp-route-ID="@ticket.TicketNr">Details</a></td>
            </tr>
        }

    </table>
</div>
