﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AirlineCreateViewModel


<link rel="stylesheet" href="~/css/airlineindex.css">
<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>New Airline</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
   <div style="padding-top:200px;"></div>

<h3 class="mb-30">New Airliner</h3>
							<form asp-controller="Airline" asp-action="Create" method="post">								 
                                @if (Model.Logo != null)
								{
									<div class="location-img">
                                        <img src="@Url.Content(@Model.Logo)" alt="" width="150" height="150" >
                                    </div>								
								}																
								<div class="mt-10">
                                    <input class="single-input" asp-for="Name" placeholder="Name"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required />
                                    <span class="text-danger" asp-validation-for="Name"></span>
								</div>
								<div class="mt-10">
									<input class="single-input" asp-for="NameTag" placeholder="NameTag"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'NameTag'" required />
                                    <span class="text-danger" asp-validation-for="NameTag"></span>
								</div>
								<div class="mt-10">
									<input class="single-input" asp-for="CompanyNumber" placeholder="CompanyNumber"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'CompanyNumber'" required />
                                    <span class="text-danger" asp-validation-for="CompanyNumber"></span>
								</div>
								<div class="mt-10">
									<input class="single-input" asp-for="Adress" placeholder="Adress"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adress'" required />
                                    <span class="text-danger" asp-validation-for="Adress"></span>
								</div>
                                <div class="mt-10">
									<input class="single-input" asp-for="Number" placeholder="Number"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Number'" required />
                                    <span class="text-danger" asp-validation-for="Number"></span>
								</div>
                                <div class="mt-10">
									<input class="single-input" asp-for="City" placeholder="City"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" required />
                                    <span class="text-danger" asp-validation-for="City"></span>
								</div>
                                 <div class="mt-10">
									<input class="single-input" asp-for="Email" placeholder="Email"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required />
                                    <span class="text-danger" asp-validation-for="Email"></span>
								</div>
                                <div class="mt-10">
									<input class="single-input" asp-for="PhoneNumber" placeholder="PhoneNumber"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'PhoneNumber'" required />
                                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
								</div>
                                 <div class="mt-10">
									<input class="single-input" asp-for="AccountNumber" placeholder="AccountNumber"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'AccountNumber'" required />
                                    <span class="text-danger" asp-validation-for="AccountNumber"></span>
								</div>								
                                  <button class="genric-btn primary e-large" onclick="message()" type="submit" style="margin-top:50px;margin-left:35%;">Create Airline<span class="lnr lnr-arrow-right"></span></button>
							</form>
                </div>
</main>

<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Airline Created',
                    showConfirmButton: false,
                    timer: 1500                   
                    });
        }
    </script>