﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model AirlineDeleteViewModel
    
}


<link rel="stylesheet" href="~/css/Detailplaneair.css" asp-append-version="true" />

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Delete Airline</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div style="padding-top:200px;"></div>
            <div class="peoples-visit dining-padding-top">           
            <div class="single-visit left-img">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-8">
                            <div class="visit-caption" style="background-color:#ce9244;">
                                <span>Delete @Model.Name?</span>
                                <ul>                                    
                                    <li>
                                        <div>
                                        <img src="@Url.Content(@Model.Logo)" alt="" width="150" height="150" >
                                        </div>
                                    </li>
                                    <br />
                                    <li>@Model.Name</li>                                                                      
                                    <li>@Model.CompanyNumber</li>
                                    <li>@Model.Adress</li>
                                    <li>@Model.Number</li>
                                    <li>@Model.City</li>
                                </ul>
                                <br />
                                <h1>Delete this Airliner?</h1>
                                <br />
                                 <a class="genric-btn info-border circle arrow" onclick="message()" asp-controller="Airline" asp-action="DeleteConfirm" asp-route-ID="@Model.AirlineID" style="margin-left:10px;">Ja<span class="lnr lnr-arrow-right"></span></a>
                                 <a class="genric-btn danger-border circle arrow" asp-controller="Airline" asp-action="List" style="margin-left:10px;">Neen<span class="lnr lnr-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
  
    <script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'error',
                    title: 'Airline Deleted',
                    showConfirmButton: false,
                    timer: 1500                   
                    });
        }
    </script>