﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 @model AirlineDetailViewModel


<link rel="stylesheet" href="~/css/Detailplaneair.css" asp-append-version="true" />

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>@Model.Name</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
<div style="padding-top:200px;"></div>
<div class="peoples-visit dining-padding-top">           
            <div class="single-visit left-img">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-8">
                            <div class="visit-caption" style="background-color:#ce9244;">
                                <span>Details for @Model.Name</span>
                                <form asp-controller="Airline" asp-action="Update" method="post">
								<ul>
								<li>
								<div class="mt-10">
                                    <input class="single-input" asp-for="Name" readonly="readonly" placeholder="Name"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required />
                                    <span class="text-danger" asp-validation-for="Name"></span>
								</div>								
								</li>
								<li>
								<div class="mt-10">
									<input class="single-input" asp-for="NameTag" readonly="readonly" placeholder="NameTag"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'NameTag'" required />
                                    <span class="text-danger" asp-validation-for="NameTag"></span>
								</div>
								</li>
								<li>
								<div class="mt-10">
									<input class="single-input" asp-for="CompanyNumber" readonly="readonly" placeholder="CompanyNumber"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'CompanyNumber'" required />
                                    <span class="text-danger" asp-validation-for="CompanyNumber"></span>
								</div>
								</li>
								<li>
								<div class="mt-10">
									<input class="single-input" asp-for="Adress" readonly="readonly" placeholder="Adress"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adress'" required />
                                    <span class="text-danger" asp-validation-for="Adress"></span>
								</div>
								</li>
								<li>
                                <div class="mt-10">
									<input class="single-input" asp-for="Number" readonly="readonly" placeholder="Number"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Number'" required />
                                    <span class="text-danger" asp-validation-for="Number"></span>
								</div>
								</li>
								<li>
                                <div class="mt-10">
									<input class="single-input" asp-for="City" readonly="readonly" placeholder="City"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" required />
                                    <span class="text-danger" asp-validation-for="City"></span>
								</div>
								</li>
								<li>
                                 <div class="mt-10">
									<input class="single-input" asp-for="Email" readonly="readonly" readonly="readonly" placeholder="Email"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required />
                                    <span class="text-danger" asp-validation-for="Email"></span>
								</div>
								</li>
									
								<li>
                                <div class="mt-10">
									<input class="single-input" asp-for="PhoneNumber" readonly="readonly" placeholder="PhoneNumber"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'PhoneNumber'" required />
                                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
								</div>
								</li>
								<li>
                                 <div class="mt-10">
									<input class="single-input" asp-for="AccountNumber" readonly="readonly" placeholder="AccountNumber"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'AccountNumber'" required />
                                    <span class="text-danger" asp-validation-for="AccountNumber"></span>
								</div>
								</li>
								<div class="mt-10">
									@if (Model.CurrentPlanes != null)
									{
										<div class="progress-table-wrap">
															<div class="progress-table">
																<div class="table-head">																	
																	<div class="visit" style="padding-left:20px;">Number</div>
																	<div class="visit" style="padding-left:80px;">Type</div>
																	<div class="visit" style="padding-left:60px;">Manfufacturer</div>																	
																	<div class="percentage"></div>																	
																</div>
																 @foreach (var plane in Model.CurrentPlanes)
																{
																	<div class="table-row">
																		<div class="serial">@plane.PlaneNr</div>																																				
																		<div class="visit" style="padding-left:20px;">@plane.Manufacturer</div>
																		<div class="visit" style="padding-left:20px;">@plane.Type</div>																		
																		<div class="visit" style="padding-left:20px"><a class="genric-btn info circle arrow" asp-action="Detail" asp-controller="Plane" asp-route-ID=@plane.PlaneNr>Detail<span class="lnr lnr-arrow-right"></span></a></div>																									
																	</div>						
																}
															  </div>
										</div>
									}
								</div>
								</ul>
								<br />
								 <a class="genric-btn info-border circle arrow" asp-action="Index" asp-controller="Airline">Back</a>
							</form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</main>



