﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AirlineIndexViewModel

<link rel="stylesheet" href="~/css/airlineindex.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Airline</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div style="padding-top:100px;"></div>
<div class="categories-area section-padding30">
            <div class="container">               
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>Welcome to Budapest Airport,</span>
                            <h2>@Model.Airline.Name</h2>
                        </div>
                    </div
                </div>
                <div class="row">                   
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <a asp-action="Index" asp-controller="Plane" asp-route-ID="@Model.Airline.AirlineID">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                 <img src="~/Images/planeicon.png" alt="Sample Image" width="70px" height="70px"/>
                            </div>
                            <div class="cat-cap">
                                <h5>Your Current Planes</h5>
                                <p>Manage your fleet of planes, add new ones or check their status</p>                          
                            </div>
                        </div>
                        </a>
                    </div>                
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <a asp-action="Detail" asp-controller="Airline" asp-route-ID="@Model.Airline.AirlineID">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="~/Images/detailicon.png" alt="Sample Image" width="70px" height="70px"/>
                            </div>
                            <div class="cat-cap">
                                <h5>Detail Section</h5>
                                <p>View your personal information and details</p>                               
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <a asp-action="Update" asp-controller="Airline" asp-route-ID="@Model.Airline.AirlineID">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="~/Images/updateicon.png" alt="Sample Image" width="70px" height="70px"/>
                            </div>
                            <div class="cat-cap">
                                <h5>Update Info</h5>
                                <p>Keep your data with us up-to-date</p>                                
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <a asp-action="FlightList" asp-controller="Airline" asp-route-ID="@Model.Airline.AirlineID">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="~/Images/flighticon.png" alt="Sample Image" width="70px" height="70px"/>
                            </div>
                            <div class="cat-cap">
                                <h5>Your Flights</h5>
                                <p>Overview Flights for your Planes</p>                              
                            </div>
                        </div>
                        </a>
                    </div>
                 </div>
            </div>
        </div>
</main>







 