﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<AirlineListViewModel>


<link rel="stylesheet" href="~/css/customstyle.css" asp-append-version="true" />

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-lg-2 bg-dark-blue d-none d-sm-block left" style="padding-top: 10px; padding-bottom: 20px;">

                     <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>

                <center>
                    <p style="color:white">@User.Identity.Name</p>
                </center>
            

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    <a class="list-group-item" asp-action="Index" asp-controller="Admin"><i class="fas fa-tachometer-alt text-white"> &nbsp; Dashboard</i></a>
                    <a class="list-group-item" asp-action="ListAllRoles" asp-controller="Role"><i class="fas fa-user text-white"> &nbsp; Manage roles</i></a>
                    <a class="list-group-item" asp-action="ListUsers" asp-controller="Admin"><i class="fas fa-users text-white"> &nbsp; Users</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Airline"><i class="fas fa-user-check text-white">&nbsp; Airlines</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Plane"><i class="fas fa-plane text-white"></i>&nbsp; Planes</i></a>
                    <a class="list-group-item" asp-action="Index" asp-controller="Flight"><i class="fas fa-plane-departure text-white">&nbsp; Flights</i></a> 
                    <a class="list-group-item" asp-action="Schedule" asp-controller="Admin"><i class="fas fa-clock text-white">&nbsp; Schedule</i></a>  
                </div>
        </div>
        
        <div class="col-md-9" style="padding-bottom: 50px;">
                <h3 class="font-weight-bold" style="padding-top: 50px; padding-bottom: 30px;">Overview airlines</h3>
                <div class="row">
                        <div class="col-md-3">
                            <div class="stats stats-primary ">
                                <h4 class="stats-title"> Airlines </h4>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                    <i class="fas fa-user-check"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number">@Model.Count()</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe"> &nbsp;&nbsp;Total &nbsp;&nbsp;registered &nbsp;&nbsp;airlines</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 <a class="genric-btn info circle" asp-area="" asp-controller="Airline" asp-action="Create">Create New Airline</a>
                 <br/>
                 <br/>
            @if (Model.Count != 0)
                {
                    <div class="row airlinecontainer">
                        @foreach (var airline in Model)
                        {
                            <div class="col">
                                <div class="single-location mb-30">
                                    <div class="location-img">
                                        <img src="@Url.Content(@airline.Logo)" alt="" width="300" height="300" >
                                    </div>
                                    <div class="location-details">
                                        <p>@airline.Name</p>
                                        <a class="genric-btn success circle" asp-action="Detail" asp-controller="Airline" asp-route-ID=@airline.AirlineID>Detail</a>
                                        <a class="genric-btn info circle" asp-action="Update" asp-controller="Airline" asp-route-ID=@airline.AirlineID>Edit</a>
                                        <a class="genric-btn warning circle" asp-action="Delete" asp-controller="Airline" asp-route-ID=@airline.AirlineID>Delete</a>

                                    </div>
                                </div>
                            </div>
                        }           
                    </div>
                }
                else
                {
                    <h1>No Airlines Currently Available</h1>
                } 
            </div>
        </div>
    </div>
</main>


<script src="~/lib/bootstrap/bootstrap-admin/popper.min.js"></script>
<link href="~/lib/bootstrap/bootstrap-admin/bootstrap-parkeasy.css" rel="stylesheet" />
<link href="~/lib/bootstrap/bootstrap-admin/dashboard.css" rel="stylesheet" />








