﻿@using Microsoft.AspNetCore.Identity
@model IdentityRole
<link rel="stylesheet" href="~/css/dashboard.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    <div class="container" style="padding-bottom: 50px; margin: auto; width: 80%; padding: 10px;">
        <div class="row">                
            <div class="col-12">
                <h3>You are about to delete the role "@Model.Name"</h3>
                <h4>This action can't be undone.</h4>

                <div asp-validation-summary="All" class="text-danger"></div>

                <form method="post" asp-action="ConfirmDelete" asp-route-id="@Model.Id" class="mt-3">
                    <div class="mt-2">
                        <button type="submit" onclick="message()" class="genric-btn danger circle">Delete</button>                    
                        <a asp-action="ListAllRoles" class="genric-btn warning circle">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>





<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'error',
                    title: 'Role Deleted',
                    showConfirmButton: false,
                    timer: 1500                 
                    });
        }
    </script>