﻿@model EditRoleViewModel
x@{
    ViewData["Title"] = "Edit role";
}
<link rel="stylesheet" href="~/css/contact.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col-lg-9" style="padding-bottom: 50px; margin: auto; width: 80%; padding: 10px;" >
            <h1>Edit role</h1>
            <form method="post" class="row">
                <div class="mt-3 col-4">
                    <div class="form-group row">
                        <label asp-for="Id" class="col-form-label col-2"></label>
                        <input asp-for="Id" disabled class="form-control col-9 p-1 text-center" style="font-size: 0.9em" />
                    </div>
                    <div class="form-group row">
                        <label asp-for="RoleName" class="col-form-label col-2"></label>
                        <input asp-for="RoleName" class="form-control col-9 p-2" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>        
                    <br/>
                    <div class="form-group">
                        <a asp-action="ListAllRoles" class="genric-btn primary circle">Back</a>
                        <button type="submit" class="genric-btn warning circle">Update</button>
                    </div>
                </div>
                <div class="col-1"></div>
                    <div class="col-5">
                        <h3>Users with @Model.RoleName role</h3>
                        <div class="progress-table-wrap">
						    <div class="progress-table">
                                <div class="table-row">
                                    @if (Model.Users.Any())
                                    {
                                        foreach (var user in Model.Users)
                                        {
                                            <div class="country"> @user</div>	
                                        }
                                    }
                                    else
                                    {
                                         <div class="country"> No users with @Model.RoleName role</div>                                        
                                    }							
						        </div>
					        </div>  
                       </div>
                       <br/>
                    <div>
                        <a asp-action="EditUsersInRole" onclick="message()" asp-route-id="@Model.Id" class="genric-btn info circle">Add/Remove users in role</a>
                    </div>
             </div>
        </form>
    </div>
</main>

<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Role Updated',
                    showConfirmButton: false,
                    timer: 1500                 
                    });
        }
</script>
    