﻿@using AirWaze.Models
@model List<UserRoleViewModel>
<main>
@{
    var roleId = ViewData["roleId"];
    var roleName = ViewData["roleName"];
}

<link rel="stylesheet" href="~/css/dashboard.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col-lg-9" style="padding-bottom: 50px; margin: auto; width: 80%; padding: 10px;" >
            <form method="post">
                <div>
                    <h2 class="mb-3">Edit users in role "@roleName"</h2>
                    <div>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check my-1">
                            <input type="hidden" asp-for="@Model[i].UserRoleId" />
                            <input type="hidden" asp-for="@Model[i].Name" />
                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                @Model[i].Name
                            </label>
                        </div>
                    }
                    </div>
                    <br/>
                    <div class="my-3">
                        <a asp-action="EditRole" asp-route-id="@roleId" class="genric-btn primary circle">Cancel</a>
                        <input type="submit" value="Update" class="genric-btn warning circle" />
                    </div>
                </div>
            </form>

        </div>
</main>