﻿@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All roles";
}
<link rel="stylesheet" href="~/css/dashboard.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-lg-2 bg-dark-blue d-none d-sm-block left" style="padding-top: 50px; padding-bottom: 20px;">
            <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>   
            <center>
                    <p style="color:white">@User.Identity.Name</p>
            </center>
            

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    <a class="list-group-item" asp-action="Index" asp-controller="Admin"><i class="fas fa-tachometer-alt text-white"> &nbsp; Dashboard</i></a>
                    <a class="list-group-item" asp-action="ListAllRoles" asp-controller="Role"><i class="fas fa-user text-white"> &nbsp; Manage roles</i></a>
                    <a class="list-group-item" asp-action="ListUsers" asp-controller="Admin"><i class="fas fa-users text-white"> &nbsp; Users</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Airline"><i class="fa fa-user-check text-white">&nbsp; Airlines</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Plane"><i class="fa fa-plane text-white"></i>&nbsp; Planes</i></a>
                    <a class="list-group-item" asp-action="Index" asp-controller="Flight"><i class="fa fa-plane-departure text-white">&nbsp; Flights</i></a> 
                    <a class="list-group-item" asp-action="Schedule" asp-controller="Admin"><i class="fa fa-clock text-white">&nbsp; Schedule</i></a>  
                </div>
        </div>            
        <div class="col-lg-9" style="padding-bottom: 50px;">
        <div class="section-top-border">
					<h3 class="mb-30">Manage roles</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="stats stats-primary ">
                                <h4 class="stats-title"> Roles </h4>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                    <i class="fas fa-user"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number">@Model.Count()</div>
                                        <div class="stats-change">
                                            <span class="stats-timeframe"> &nbsp;&nbsp;Total roles</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="genric-btn info circle" asp-action="AddRole">Add role</a>
                    <br/>
                    <br/>
					@if (Model.Any())
					{
					<div class="progress-table-wrap">
						<div class="progress-table">
							<div class="table-head">								
								<div class="country center">Role</div>
                                <div class="country center"></div>
                                <div class="country center"></div>
							</div>
                             @foreach (var role in Model)
                            {
							<div class="table-row">
								<div class="country center"> @role.Name</div>	
                                <div class="country"><a asp-action="EditRole" asp-route-id="@role.Id" class="genric-btn warning circle">Edit</a></div>
                                <div class="country"><a asp-action="DeleteRole" asp-route-id="@role.Id" class="genric-btn danger circle">Delete</a></div>
							</div>
                            }
							
						</div>
					</div>
					}
					else
					{
						<h5>No roles yet, use the button to add your first role.</h5>
					}
				</div>    
            </div>
    </div>
</div>
</main>

<script src="~/lib/bootstrap/bootstrap-admin/popper.min.js"></script>
<link href="~/lib/bootstrap/bootstrap-admin/bootstrap-parkeasy.css" rel="stylesheet" />
<link href="~/lib/bootstrap/bootstrap-admin/dashboard.css" rel="stylesheet" />




