﻿@model FlightDeleteViewModel
<main>
<p>Are you sure you want to delete Flight @Model.FlightNr?</p>
<br />
<p>Destination: @Model.Destination.Name - Departure: @Model.Departure.ToString("R")</p>
@switch(@Model.Status)
{
    case 0:
            <p>Status: Awaiting Approval</p>
            break;
    case 1:
        <p>Status: Approved</p>
        break;
    case 2:
        <p>Status: Delayed</p>
        break;
    case 3:
        <p>Status: Boarding</p>
        break;
    case 4:
        <p>Status: Departed</p>
        break;
    case 5:
        <p>Status: Arrived</p>
        break;
    case 6:
        <p>Status: Cancelled</p>
        break;
    case 7:
        <p>Status: Completed</p>
        break;
    default:
        break;
}

<a asp-controller="Flight" asp-action="Index">Go Back</a>
<a class="btn btn-danger" onclick="message()" asp-controller="Flight" asp-action="DeleteConfirm" asp-route-id="@Model.FlightNr">Delete</a>

<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'error',
                    title: 'Flight Deleted',
                    showConfirmButton: false,
                    timer: 1500                   
                    });
        }
    </script>
    </main>