﻿@model FlightDetailViewModel

<main>
<h1>Flight Details</h1>

<!-- Possible Notifications: Delayed?, Cancelled, Boarding, In Transit, Arrived At Destination, Fully Booked -->
<!-- Calculate -->
<h2>Flight Number</h2>
<p>@Model.FlightNr</p>
<h2>Destination</h2>
<p>@Model.Destination.Name</p>
<h2>Airline</h2>
<p>@Model.CurrentPlane.CurrentAirline.Name</p>
<h2>Departure</h2>
<p>@Model.Departure.ToString("R")</p>
<h2></h2>
<h2>Flight Duration (hh:mm)</h2>
<p>@Model.Destination.FlightTime</p>
<h2>Distance</h2>
<p>@Model.Destination.Distance km</p>
<h2>Gate</h2>
@if(Model.CurrentGate.Number == 0)
{
    <p>No Gate assigned yet.</p>
}
else
{
    <p>@Model.CurrentGate.Number</p>
}
<h2>Current Status</h2>
@switch (Model.Status)
            {
                case 0:
                    <p>Awaiting Approval</p>
                    break;
                case 1:
                    <p>Approved</p>
                    break;
                case 2:
                    <p>Delayed</p>
                    break;
                case 3:
                    <p>Boarding</p>
                    break;
                case 4:
                    <p>Departed</p>
                    break;
                case 5:
                    <p>Arrived</p>
                    break;
                case 6:
                    <p>Cancelled</p>
                    break;
                default:
                    break;
            }

<!-- For Airport staff-->
<h2>Plane</h2>
<p>@Model.CurrentPlane.PlaneNr</p>
<h2>Runway</h2>
@if(Model.CurrentRunway.Number == 0)
{
    <p>No Runway assigned yet.</p>
}
else
{
    <p>@Model.CurrentRunway.Number</p>
}
<!-- TODO: route button to page with tickets only for this flight 
<a class="btn btn-primary" asp-controller="Ticket" asp-action="Index">Booked Tickets</a>
-->
<a class="btn btn-primary" asp-controller="Flight" asp-action="Index">Go Back</a>

</main>
