﻿@model List<FlightListViewModel>

<link rel="stylesheet" href="~/css/flightindex.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="container-fluid" style="padding: 0 0 0 0;">
        <div class="row">
            <div class="col-lg-2 bg-dark-blue d-none d-sm-block left" style="padding-top: 10px; padding-bottom: 20px;">
            <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>

                <center>
                    <p style="color:white">@User.Identity.Name</p>
                </center>
            

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    <a class="list-group-item" asp-action="Index" asp-controller="Admin"><i class="fas fa-tachometer-alt text-white"> &nbsp; Dashboard</i></a>
                    <a class="list-group-item" asp-action="ListAllRoles" asp-controller="Role"><i class="fas fa-user text-white"> &nbsp; Manage roles</i></a>
                    <a class="list-group-item" asp-action="ListUsers" asp-controller="Admin"><i class="fas fa-users text-white"> &nbsp; Users</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Airline"><i class="fas fa-user-check text-white">&nbsp; Airlines</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Plane"><i class="fas fa-plane text-white"></i>&nbsp; Planes</i></a>
                    <a class="list-group-item" asp-action="Index" asp-controller="Flight"><i class="fas fa-plane-departure text-white">&nbsp; Flights</i></a> 
                    <a class="list-group-item" asp-action="Schedule" asp-controller="Admin"><i class="fas fa-clock text-white">&nbsp; Schedule</i></a>  
                </div>
            </div>
            <div class="col-lg-9" style="padding-bottom: 50px;">
                <div class="section-top-border">
					<h3 class="mb-30">Overview flights</h3>
                    <a class="genric-btn info circle" asp-controller="Flight" asp-action="Create">Add New Flight</a>
                    <br />
                    <br />
            @*searchfunction*@
            <div class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget">
                <form asp-action="Index" method="get">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <p>
                                <br/>
                                <div>
                                <br/>
                                Search by: &nbsp;
                                @Html.RadioButton("option", "Destination") Destination &nbsp;
                                @Html.RadioButton("option", "Date") Date &nbsp;
      
                                </div>
                                <div class="input-group-append">
                                    &nbsp; &nbsp;  <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search Keyword" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Search Keyword'"/> &nbsp;&nbsp;
                                    <button class="genric-btn danger circle" type="submit"><i class="fa fa-search"></i></button>&nbsp;                                    
                                    <button class="genric-btn danger circle" onclick="window.location.href='/Flight/Index'" type="button" style="width:80%; height:50px;">Show all flights</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </form>
                </aside>
                </div>
                @if (Model.Any())
                    {
                     <div class="progress-table-wrap planeindexcontainer">
						<div class="progress-table">
							<div class="table-head">								
								<div class="country">Date</div>
                                <div class="country">Time</div>
                                <div class="country">Destination</div>
                                <div class="country">Number</div>
                                <div class="country">Status</div>
                                <div class="country"></div>
                                <div class="country"></div>
                                <div class="country"></div>
							</div> 
                            @foreach (var x in @Model)
                            {
                                <div class="table-row">
								    <div class="country"> @x.Departure.Date.DayOfWeek @x.Departure.Date.ToShortDateString()</div>	
                                    <div class="country"> @x.Departure.Hour.ToString("00"):@x.Departure.Minute.ToString("00")</div>	
                                    <div class="country"> @x.Destination.Name</div>	
                                    <div class="country"> @x.FlightNr</div>	
                                @switch (x.Status)
                                {
                                    case 0:
                                    <div class="country">Awaiting Approval</div>
                                    break;
                                case 1:
                                    <div class="country">Approved</div> 
                                    break;
                                case 2:
                                    <div class="country">Delayed</div> 
                                    break;
                                case 3:
                                    <div class="country">Boarding</div> 
                                    break;
                                case 4:
                                    <div class="country">Departed</div>
                                    break;
                                case 5:
                                    <div class="country">Arrived</div> 
                                    break;
                                case 6:
                                    <div class="country">Cancelled</div> 
                                    break;
                                default:
                                    break;
                                }                                
                                &nbsp; <div class="country"><a class="genric-btn info circle" asp-controller="Flight" asp-action="Detail" asp-route-id="@x.FlightNr">Details</a></div>
                                @if (x.Status == 0 || x.Status == 1 || x.Status == 2 || x.Status == 3)
                                {
                                            <div class="country"><a asp-action="EditRole" asp-route-id="@x.FlightNr" class="genric-btn warning circle">Edit</a></div> 
                                            <div class="country"><a asp-action="DeleteRole" asp-route-id="@x.FlightNr" class="genric-btn danger circle">Delete</a></div>
                                }
                                </div>
                            }
                        </div>
                    </div>
                                                    
                }                           
                else
                {
                        <h5>No flights planned at the moment.</h5>
                } 
            </div>
        </div>
      </div>
  </div>
</main>

<script src="~/lib/bootstrap/bootstrap-admin/popper.min.js"></script>
<link href="~/lib/bootstrap/bootstrap-admin/bootstrap-parkeasy.css" rel="stylesheet" />
