﻿@using AirWaze.Controllers
@using AirWaze.Entities
@model FlightCreateViewModel

<!-- add method to make list of available planes for that flight - check flight region (destination), and Departure date/time -->
@{
    Flight tempFlight = new Flight
            {
                Destination = Model.Destination,
                Departure = Model.Departure
            };
    List<Plane> availablePlanesForThisFlight = Airport.GetAvailablePlanesForFlight(tempFlight).ToList();
}

<main>
@if(availablePlanesForThisFlight.Count > 0)
{
    <h2>Please select the plane for this flight</h2>
<form asp-controller="Flight" asp-action="PlanePicker" asp-route-id=@Model.FlightNr method="post">

 <div class="form-group">
        <label>Available Planes:</label>
        <br />
        <select name="selectedPlaneNr">
            @foreach(var item in availablePlanesForThisFlight)
            {
                 <option value=@item.PlaneNr>@item.CurrentAirline.Name  - @item.PlaneNr</option>
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Confirm Plane</button>
    </form>
}
else
{
    <h2>There are currently no planes available for this flight.</h2>
    <p>Please select another Departure Time.</p>

    <a class="btn btn-primary" asp-controller="Flight" asp-action="CreateAgain" asp-route-id="@Model.FlightNr">Go Back</a>
}
</main>