﻿@model List<FlightListViewModel>


<h1>Departures Board</h1>
<h2>@DateTime.Now.ToString("f")</h2>
<br />
<br />
                <table class="table table-striped">
                    <thead style="background-color: black; color:gold; font-family:'Lucida Sans Typewriter'">
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Flight</th>
                            <th scope="col">Gate Nr.</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.Count != 0)
                        {
                            @foreach (var x in @Model)
                            {
                                <tr  style="background-color:darkgray; color:white; font-family:'Lucida Sans Typewriter'">
                                    <td>@x.Departure.Hour.ToString("00"):@x.Departure.Minute.ToString("00")</td>
                                    <td>@x.Destination.Name</td>     
                                    <td>@x.FlightNr</td>
                                    @if(@x.CurrentGate.Number != 0)
                                    {
                                        <td>@x.CurrentGate.Number</td>
                                    }
                                    else
                                    {
                                        <td> </td>
                                    }
                                    @switch (x.Status)
                                    {
                                        case 0:
                                            <p>Awaiting Approval</p>
                                            break;
                                        case 1:
                                            <p>Approved</p>
                                            break;
                                        case 2:
                                            <p>Delayed</p>
                                            break;
                                        case 3:
                                            <p>Boarding</p>
                                            break;
                                        case 4:
                                            <p>Departed</p>
                                            break;
                                        case 5:
                                            <p>Arrived</p>
                                            break;
                                        case 6:
                                            <p>Cancelled</p>
                                            break;
                                        default:
                                            break;
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>No flights planned at the moment.</td>
                            </tr>
                        }
                  </tbody>
             </table>
            