﻿﻿@{
    ViewData["Title"] = "Home Page";
    

}
<main>
<div class="slider-area hero-overly">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="hero__caption">
                                <span>Explore the world</span>
                                <h1>Discover great places</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
</div>
</main>




<body onload="message()">

 <script type="text/javascript">
        function message()
        {
            var alerted = localStorage.getItem('alerted') || '';
            if (alerted != 'yes')
            {
                 localStorage.setItem('alerted','yes');
                 Swal.fire({                   
                    position: 'center',                    
                    title: 'Welcome',
                    showConfirmButton: false,
                    timer: 2000,
                    text: 'Welcome To Batman Airport',
                    imageUrl: 'https://media.gettyimages.com/photos/singapore-changi-airport-picture-id603130016',
                    imageWidth: 400,
                    imageHeight: 200,
                    imageAlt: 'Custom image'
                    });        
            }                                       
        }       
    </script>
</body>





  

   