﻿<link rel="stylesheet" href="~/css/privacy.css">  

<main>
   <div style="padding-top:200px;"></div>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50" style="width:800px;position:center">
                            <h2>Privacy policy</h2>
                            <p style="color:white">Privacy policy

This website privacy policy template has been designed to help website owners comply with European Union and United Kingdom data protection legislation. This includes compliance with the General Data Protection Regulation (GDPR) in both its original EU and derivative UK forms.

The policy covers all the usual ground: the categories of personal data that are collected, the purposes for which that personal data may be used, the legal bases for processing, the persons to whom the personal data may be disclosed, international transfers of personal data, the security measures used to protect the personal data, individual rights and website cookies.

First published in 2008, this policy and its antecedents have been used on hundreds of thousands of websites. It is frequently since to reflect the GDPR and the developing regulatory guidance from the EU and UK data protection authorities.

You may want to use this privacy policy in combination with our free website T&Cs template. If you are running an online shop, you might also find our T&Cs of sale, returns policy and delivery policy templates useful.

If you’re new to data protection law, then before downloading the policy you might want to review the questions and answers below, which provide a introduction to both the legal and practical issues around the use of privacy policies.
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>   


</main>


 
   <script type="text/javascript">
       
        
       function message()
        {
      
            Swal.fire({
  text: 'Login Completed',
  icon:'success',
  target: '#custom-target',
  customClass: {
    container: 'position-absolute'
  },
  toast: true,
  position: 'top-right',
  showConfirmButton: false,
  timer: 1500,
  timerProgressBar: true
})
                    
        }
    </script>
