﻿@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnv

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AirWaze</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AirWaze.styles.css" asp-append-version="true" /> 

     <link rel="stylesheet" href="~/AirWaze.styles.css" asp-append-version="true" />    
     <link rel="stylesheet" href="~/js/sweetalert2.min.css" />     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">      
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/mainbis.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/navbar.css">

   
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Images/airwazeLogo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparent">
            <div class="main-header">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">

               <div class="col-xl-2 col-lg-2 col-md-1">
                 <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/airwazeLogo.png" alt=""></a>
                 </div>
               </div>

                <div class="col-xl-10 col-lg-10 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">      
                                            <li> <a asp-area="" asp-controller="Home" asp-action="Index" style="background-color: transparent"><i class='fas fa-home' style='font-size:20px;color:white'></i></a></li>
                                            @if (User.IsInRole("Customer") || User.IsInRole("Admin"))
                                            {
                                                <li> <a asp-area="" asp-controller="Ticket" asp-action="List" style="background-color: transparent">Tickets</a></li>
                                                <li><a asp-area="" asp-controller="Ticket" asp-action="Create" style="background-color: transparent">Book Your Ticket</a></li>
                                            }
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li> <a  asp-area="" asp-controller="Flight" asp-action="Index" style="background-color: transparent">Flights</a></li>
                                            }
                                            @if (User.IsInRole("Customer") || !User.Identity.IsAuthenticated)
                                            {
                                                <li> <a asp-area="" asp-controller="Home" asp-action="Map" style="background-color: transparent">Airport Map</a></li>
                                            }                                            
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li class="add-list"><a asp-area="" asp-controller="Admin" asp-action="Index"> Dashboard</a></li>
                                            }
                                            @if (User.IsInRole("Airline"))
                                            {
                                                <li class="add-list"><a asp-area="" asp-controller="Airline" asp-action="Index">Your Dashboard</a></li>
                                                <li> <a asp-area="" asp-controller="Home" asp-action="Map" style="background-color: transparent">Airport Map</a></li>
                                            }
                                            <li><partial name="_LoginPartial" /></li>
                                        </ul>
                                        
                                    </nav>
                                </div>
                </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
     <script src="_content/GeneralComponents/GeneralComponents.DOMHelpers.js"></script>

     <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
               <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/airwazeLogo.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>About us</h4>
                                    <ul>
                                        You can travel to any destination at the Airwaze airport.
                                        <br/>
                                        <br/>
                                        If you are an airline you can lent your airplanes to us. 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Address</h4>
                                    <ul>
                                        Airwaze<br/>
                                        Luchthavenlei,<br/>
                                        2100 Antwerpen,<br/>
                                        Belgium
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></h4>
                                    <ul>
                                        <a href = "mailto: contact.airwaze@gmail.com" style="color: grey">contact.airwaze@gmail.com</a>
                                    </ul>
                                    <br/>
                                    <ul>
                                        <a href = "tel: +323 285 65 00" style="color: grey">+323 285 65 00</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                &nbsp;  &nbsp;  &nbsp;  &nbsp;  <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </p>                                
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    
     <script src="_content/BrowserInterop/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.all.min.js"></script> 
    <script src="~/js/sweetalert2.all.min.js"></script> 

                   <!-- JS here -->
				
				<!-- All JS Custom Plugins Link Here here -->
				<script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
				<!-- Jquery, Popper, Bootstrap -->
				<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
				<script src="~/js/popper.min.js"></script>
				<script src="~/js/bootstrap.min.js"></script>
				<!-- Jquery Mobile Menu -->
				<script src="~/js/jquery.slicknav.min.js"></script>

				<!-- Jquery Slick , Owl-Carousel Plugins -->
				<script src="~/js/owl.carousel.min.js"></script>
				<script src="~/js/slick.min.js"></script>
				<!-- One Page, Animated-HeadLin -->
				<script src="~/js/wow.min.js"></script>
				<script src="~/js/animated.headline.js"></script>
				<script src="~/js/jquery.magnific-popup.js"></script>

				<!-- Nice-select, sticky -->
				<script src="~/js/jquery.nice-select.min.js"></script>
				<script src="~/js/jquery.sticky.js"></script>
				
				<!-- contact js -->
				<script src="~/js/contact.js"></script>
				<script src="~/js/jquery.form.js"></script>
				<script src="~/js/jquery.validate.min.js"></script>
				<script src="~/js/mail-script.js"></script>
				<script src="~/js/jquery.ajaxchimp.min.js"></script>
				
				<!-- Jquery Plugins, main Jquery -->	
				<script src="~/js/plugins.js"></script>
				<script src="~/js/main.js"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>


